WorldsmithATF/DOMSchema/DotaObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DotaObjects"
    targetNamespace="Worldsmith"
    elementFormDefault="qualified"
    xmlns="Worldsmith"
    xmlns:mstns="http://tempuri.org/DotaObjects.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
 
  
  <xs:complexType name="ProjectType">
    <xs:sequence>
      <xs:element name="Files" type="FileType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />    
  </xs:complexType>

  <xs:complexType name ="FileType">
    <xs:attribute name="Path" type="xs:string"/>
    <xs:attribute name ="Name" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="FolderType">
    <xs:complexContent>
      <xs:extension base="FileType">
        <xs:sequence>
          <xs:element name="Files" type="FileType" minOccurs="0" maxOccurs ="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TextFileType">
    <xs:complexContent>
      <xs:extension base="FileType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KVDocumentType">
    <xs:complexContent>
      <xs:extension base="TextFileType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LuaDocumentType">
    <xs:complexContent>
      <xs:extension base="TextFileType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MapType">
    <xs:complexContent>
      <xs:extension base="FileType" />
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="DotaUnitContainerType">
    <xs:sequence>
      <xs:element name="Contents" type="DotaUnitType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DefaultUnitContainerType">
    <xs:complexContent>
      <xs:extension base="DotaUnitContainerType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
  
  
  
  
  
  
  
  
  <xs:complexType name ="DotaDataObjectType">
    <xs:attribute name="ClassName" type="xs:string" />
    <xs:attribute name="BaseClass" type="xs:string" />
  </xs:complexType>
  

  <xs:simpleType name = "AttackCapabilitiesEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_UNIT_CAP_NO_ATTACK" />
      <xs:enumeration value="DOTA_UNIT_CAP_RANGED_ATTACK" />
      <xs:enumeration value="DOTA_UNIT_CAP_MELEE_ATTACK" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "AttackDamageTypeEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DAMAGE_TYPE_ArmorPhysical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "AttributePrimaryEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_ATTRIBUTE_STRENGTH" />
      <xs:enumeration value="DOTA_ATTRIBUTE_AGILITY" />
      <xs:enumeration value="DOTA_ATTRIBUTE_INTELLECT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "BoundsHullNameEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_HULL_SIZE_HERO" />
      <xs:enumeration value="DOTA_HULL_SIZE_SMALL" />
      <xs:enumeration value="DOTA_HULL_SIZE_REGULAR" />
      <xs:enumeration value="DOTA_HULL_SIZE_TOWER" />
      <xs:enumeration value="DOTA_HULL_SIZE_FILLER" />
      <xs:enumeration value="DOTA_HULL_SIZE_BARRACKS" />
      <xs:enumeration value="DOTA_HULL_SIZE_BUILDING" />
      <xs:enumeration value="DOTA_HULL_SIZE_SIEGE" />
      <xs:enumeration value="DOTA_HULL_SIZE_HUGE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "MovementCapabilitiesEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_UNIT_CAP_MOVE_NONE" />
      <xs:enumeration value="DOTA_UNIT_CAP_MOVE_GROUND" />
      <xs:enumeration value="DOTA_UNIT_CAP_MOVE_FLY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "TeamNameEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_TEAM_NEUTRALS" />
      <xs:enumeration value="DOTA_TEAM_BADGUYS" />
      <xs:enumeration value="DOTA_TEAM_GOODGUYS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "CombatClassAttackEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_COMBAT_CLASS_ATTACK_HERO" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_ATTACK_PIERCE" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_ATTACK_BASIC" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_ATTACK_SIEGE" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_ATTACK_LIGHT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "CombatClassDefendEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_COMBAT_CLASS_DEFEND_HERO" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_DEFEND_SOFT" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_DEFEND_STRUCTURE" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_DEFEND_STRONG" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_DEFEND_BASIC" />
      <xs:enumeration value="DOTA_COMBAT_CLASS_DEFEND_WEAK" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name = "UnitRelationshipClassEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOTA_NPC_UNIT_RELATIONSHIP_TYPE_DEFAULT" />
      <xs:enumeration value="DOTA_NPC_UNIT_RELATIONSHIP_TYPE_BUILDING" />
      <xs:enumeration value="DOTA_NPC_UNIT_RELATIONSHIP_TYPE_BARRACKS" />
      <xs:enumeration value="DOTA_NPC_UNIT_RELATIONSHIP_TYPE_SIEGE" />
      <xs:enumeration value="DOTA_NPC_UNIT_RELATIONSHIP_TYPE_WARD" />
      <xs:enumeration value="DOTA_NPC_UNIT_RELATIONSHIP_TYPE_COURIER" />
      <xs:enumeration value="DOTA_NPC_UNIT_RELATIONSHIP_TYPE_HERO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DotaBaseUnitType">
    <xs:annotation>
      <xs:appinfo>
        <scea.dom.editors.attribute name="AttackCapabilities" displayName="AttackCapabilities" dscription="Gives the unit melee of ranged attack capability."
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_UNIT_CAP_NO_ATTACK,DOTA_UNIT_CAP_RANGED_ATTACK,DOTA_UNIT_CAP_MELEE_ATTACK,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="AttackDamageType" displayName="AttackDamageType" dscription="Type of damage dealt."
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DAMAGE_TYPE_ArmorPhysical,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="AttributePrimary" displayName="AttributePrimary" dscription="Sets the primary attribute of the unit."
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_ATTRIBUTE_STRENGTH,DOTA_ATTRIBUTE_AGILITY,DOTA_ATTRIBUTE_INTELLECT,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="BoundsHullName" displayName="BoundsHullName" dscription="Type of bounds hull.(?)"
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_HULL_SIZE_HERO,DOTA_HULL_SIZE_SMALL,DOTA_HULL_SIZE_REGULAR,DOTA_HULL_SIZE_TOWER,DOTA_HULL_SIZE_FILLER,DOTA_HULL_SIZE_BARRACKS,DOTA_HULL_SIZE_BUILDING,DOTA_HULL_SIZE_SIEGE,DOTA_HULL_SIZE_HUGE,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="MovementCapabilities" displayName="MovementCapabilities" dscription="Type of movement capabilities for this unit."
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_UNIT_CAP_MOVE_NONE,DOTA_UNIT_CAP_MOVE_GROUND,DOTA_UNIT_CAP_MOVE_FLY,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="TeamName" displayName="TeamName" dscription="Decides what team the unit belongs to."
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_TEAM_NEUTRALS,DOTA_TEAM_BADGUYS,DOTA_TEAM_GOODGUYS,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="CombatClassAttack" displayName="CombatClassAttack" dscription="Damage type"
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_COMBAT_CLASS_ATTACK_HERO,DOTA_COMBAT_CLASS_ATTACK_PIERCE,DOTA_COMBAT_CLASS_ATTACK_BASIC,DOTA_COMBAT_CLASS_ATTACK_SIEGE,DOTA_COMBAT_CLASS_ATTACK_LIGHT,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="CombatClassDefend" displayName="CombatClassDefend" dscription="Armor type."
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_COMBAT_CLASS_DEFEND_HERO,DOTA_COMBAT_CLASS_DEFEND_SOFT,DOTA_COMBAT_CLASS_DEFEND_STRUCTURE,DOTA_COMBAT_CLASS_DEFEND_STRONG,DOTA_COMBAT_CLASS_DEFEND_BASIC,DOTA_COMBAT_CLASS_DEFEND_WEAK,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
        <scea.dom.editors.attribute name="UnitRelationshipClass" displayName="UnitRelationshipClass" dscription="Unit type"
        editor="Sce.Atf.Controls.PropertyEditing.LongEnumEditor,Atf.Gui.WinForms:DOTA_NPC_UNIT_RELATIONSHIP_TYPE_DEFAULT,DOTA_NPC_UNIT_RELATIONSHIP_TYPE_BUILDING,DOTA_NPC_UNIT_RELATIONSHIP_TYPE_BARRACKS,DOTA_NPC_UNIT_RELATIONSHIP_TYPE_SIEGE,DOTA_NPC_UNIT_RELATIONSHIP_TYPE_WARD,DOTA_NPC_UNIT_RELATIONSHIP_TYPE_COURIER,DOTA_NPC_UNIT_RELATIONSHIP_TYPE_HERO,"
        converter="Sce.Atf.Controls.PropertyEditing.EnumTypeConverter" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DotaDataObjectType">
        <xs:attribute name="Model" type="xs:string" />
        <xs:attribute name="SoundSet" type="xs:string" />
        <xs:attribute name="Level" type="xs:int" />
        <xs:attribute name="AbilityLayout" type="xs:int" />
        <xs:attribute name="Ability1" type="xs:string" />
        <xs:attribute name="Ability2" type="xs:string" />
        <xs:attribute name="Ability3" type="xs:string" />
        <xs:attribute name="Ability4" type="xs:string" />
        <xs:attribute name="Ability5" type="xs:string" />
        <xs:attribute name="Ability6" type="xs:string" />
        <xs:attribute name="Ability7" type="xs:string" />
        <xs:attribute name="Ability8" type="xs:string" />
        <xs:attribute name="ArmorPhysical" type="xs:int" />
        <xs:attribute name="MagicalResistance" type="xs:int" />
        <xs:attribute name="AttackCapabilities" type="AttackCapabilitiesEnum" />
        <xs:attribute name="AttackDamageMin" type="xs:int" />
        <xs:attribute name="AttackDamageMax" type="xs:int" />
        <xs:attribute name="AttackDamageType" type="AttackDamageTypeEnum" />
        <xs:attribute name="AttackRate" type="xs:float" />
        <xs:attribute name="AttackAnimationPoint" type="xs:float" />
        <xs:attribute name="AttackAcquisitionRange" type="xs:boolean" />
        <xs:attribute name="AttackRange" type="xs:int" />
        <xs:attribute name="ProjectileModel" type="xs:string" />
        <xs:attribute name="ProjectileSpeed" type="xs:int" />
        <xs:attribute name="AttributePrimary" type="AttributePrimaryEnum" />
        <xs:attribute name="AttributeBaseStrength" type="xs:int" />
        <xs:attribute name="AttributeStrengthGain" type="xs:int" />
        <xs:attribute name="AttributeBaseIntelligence" type="xs:int" />
        <xs:attribute name="AttributeIntelligenceGain" type="xs:int" />
        <xs:attribute name="AttributeBaseAgility" type="xs:int" />
        <xs:attribute name="AttributeAgilityGain" type="xs:int" />
        <xs:attribute name="BountyXP" type="xs:int" />
        <xs:attribute name="BountyGoldMin" type="xs:int" />
        <xs:attribute name="BountyGoldMax" type="xs:int" />
        <xs:attribute name="BoundsHullName" type="BoundsHullNameEnum" />
        <xs:attribute name="RingRadius" type="xs:int" />
        <xs:attribute name="MovementCapabilities" type="MovementCapabilitiesEnum" />
        <xs:attribute name="MovementSpeed" type="xs:int" />
        <xs:attribute name="MovementTurnRate" type="xs:float" />
        <xs:attribute name="HasAggressiveStance" type="xs:boolean" />
        <xs:attribute name="StatusHealth" type="xs:int" />
        <xs:attribute name="StatusHealthRegen" type="xs:float" />
        <xs:attribute name="StatusMana" type="xs:int" />
        <xs:attribute name="StatusManaRegen" type="xs:float" />
        <xs:attribute name="StatusStartingMana" type="xs:int" />
        <xs:attribute name="TeamName" type="TeamNameEnum" />
        <xs:attribute name="CombatClassAttack" type="CombatClassAttackEnum" />
        <xs:attribute name="CombatClassDefend" type="CombatClassDefendEnum" />
        <xs:attribute name="UnitRelationshipClass" type="UnitRelationshipClassEnum" />
        <xs:attribute name="VisionDaytimeRange" type="xs:int" />
        <xs:attribute name="VisionNighttimeRange" type="xs:int" />
        <xs:attribute name="HasInventory" type="xs:boolean" />
        <xs:attribute name="HealthBarOffset" type="xs:int" />
        <xs:attribute name="IdleSoundLoop" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="DotaHeroType">
    <xs:complexContent>
      <xs:extension base="DotaBaseUnitType">
        <xs:attribute name="Enabled" type="xs:boolean" />
        <xs:attribute name="BotImplemented" type="xs:boolean" />
        <xs:attribute name="NewHero" type="xs:boolean" />
        <xs:attribute name="HeroPool1" type="xs:boolean" />
        <xs:attribute name="HeroUnlockOrder" type="xs:int" />
        <xs:attribute name="CMEnabled" type="xs:boolean" />
        <xs:attribute name="CMTournamentIgnore" type="xs:boolean" />
        <xs:attribute name="new_player_enable" type="xs:boolean" />
        <xs:attribute name="VoiceBackgroundSound" type="xs:string" />
        <xs:attribute name="IdleExpression" type="xs:string" />
        <xs:attribute name="HUD" type="xs:string" />
        <xs:attribute name="override_hero" type="xs:string" />
      </xs:extension>      
    </xs:complexContent>    
  </xs:complexType>

  <xs:complexType name="DotaUnitType">
    <xs:complexContent>
      <xs:extension base="DotaBaseUnitType">
        <xs:attribute name="IsAncient" type="xs:boolean" />
        <xs:attribute name="IsNeutralUnitType" type="xs:boolean" />
        <xs:attribute name="SelectionGroup" type="xs:string" />
        <xs:attribute name="SelectOnSpawn" type="xs:boolean" />
        <xs:attribute name="CanBeDominated" type="xs:boolean" />
        <xs:attribute name="IgnoreAddSummonedToSelection" type="xs:boolean" />
        <xs:attribute name="AutoAttacksByDefault" type="xs:boolean" />
        <xs:attribute name="AttackRangeBuffer" type="xs:int" />
        <xs:attribute name="FollowRange" type="xs:int" />
        <xs:attribute name="AttackDesire" type="xs:float" />
        <xs:attribute name="WakesNeutrals" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>




</xs:schema>
